/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

body {
  font-size: var(--step-0);
  line-height: 1.5;
  font-weight: 300;
}

h1 {
  font-size: var(--step-5);
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  font-size: var(--step-4);
  line-height: 1.15;
}

h3 {
  font-size: var(--step-3);
  line-height: 1.2;
}

h4 {
  font-size: var(--step-2);
  line-height: 1.25;
}

h5 {
  font-size: var(--step-1);
  line-height: 1.3;
}

h6 {
  font-size: var(--step-0);
  line-height: 1.35;
}

h2,h3,h4,h5,h6 {
  font-weight: 600;
}

p {
  margin-bottom: 0.75rem;
}

.text-xs {
  font-size: var(--step--2);
}

.text-sm {
  font-size: var(--step--1);
}